<section class="sheet-section">
  <h2>Resources</h2>
  <div class="health-grid">
    <div class="health-row">
      <div class="health-label">Bone</div>
      <input type="number" name="system.resources.bone" value="{{system.resources.bone}}" />
    </div>
    <div class="health-row">
      <div class="health-label">Hearts</div>
      <input type="number" name="system.resources.hearts" value="{{system.resources.hearts}}" />
    </div>
  </div>
</section>
<section class="sheet-section">
  <h2>Notes</h2>
  <textarea name="system.notes" rows="8">{{system.notes}}</textarea>
</section>
