@use "../variables" as *;

@mixin text {
  font-family: $font-shallot;
  font-size: 1em;

  p {
    text-indent: 1em;
    margin-block: 0.25rem;

    &.no-indent {
      text-indent: 0;
    }

    &.chapter-intro {
      font-family: $font-mourich;
      font-size: 1.2em;
      font-weight: bold;
      font-variant: small-caps no-common-ligatures;

      text-indent: 0;
      text-align: center;
    }
  }

  strong {
    &.stat {
      color: $color-stat;
      font-weight: 800;
    }
  }

  blockquote.chapter-intro-poem {
    font-family: $font-bell;
    font-weight: bold;

    .stanza {
      margin-block: 0.5rem;

      p {
        margin-block: 0;
      }
    }
  }
}
