.hollows {
  aside {
    color: white;

    * {
      color: inherit;
      font-weight: 500;
    }

    &.inline {
      background-color: var(--hollows-color-default-aside-bg);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      container-name: inline-aside;

      &.big {
        padding: 48px;
        margin-block: 8px;
        mask-image: url("/systems/hollows/assets/art/big-sidebar.webp");
      }

      &.small {
        padding: 30px;
        margin-block: 8px;
        mask-image: url("/systems/hollows/assets/art/small-sidebar.webp");
      }

      &.smallest {
        padding: 10px 30px;
        margin-block: 8px;
        mask-image: url("/systems/hollows/assets/art/smallest-sidebar.webp");
      }

      &.purple {
        background-color: var(--hollows-color-purple-aside-bg);
      }
      &.purple-light {
        background-color: var(--hollows-color-purple-light-aside-bg);
      }
      &.purple-dark {
        background-color: var(--hollows-color-purple-dark-aside-bg);
      }
      &.teal {
        background-color: var(--hollows-color-teal-aside-bg);
      }
      &.teal-light {
        background-color: var(--hollows-color-teal-light-aside-bg);
      }
      &.blue {
        background-color: var(--hollows-color-blue-aside-bg);
      }
      &.blue-dark {
        background-color: var(--hollows-color-blue-dark-aside-bg);
      }
      &.red {
        background-color: var(--hollows-color-red-aside-bg);
      }
      &.orange {
        background-color: var(--hollows-color-orange-aside-bg);
      }
      &.orange-light {
        background-color: var(--hollows-color-orange-light-aside-bg);
      }
      &.mustard {
        background-color: var(--hollows-color-mustard-aside-bg);
      }
      &.green {
        background-color: var(--hollows-color-green-aside-bg);
      }
      &.white {
        background-color: var(--hollows-color-white-aside-bg);
        color: var(--color-dark-2);
      }

    }

    h4.isles-heading {
      font-family: var(--hollows-font-feliz-en-vista);
      font-size: 1rem;
      text-transform: none;
      margin-top: 1em;
    }

    &.outcome-table {
      * {
        color: unset;
      }
    }

    &.malignancy-box {
      color: black;
      font-family: var(--hollows-font-go-around-the-books);

      transform: rotate(4deg);
    }

    @container journal (width < var(--journal-grid-collapse-threshold)) {
      font-size: 0.9em;
      background-color: var(--hollows-color-default-aside-bg);

      mask-image: url("/systems/hollows/assets/art/big-sidebar.webp");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;

      padding: 24px 48px !important;
      margin-block: 12px;

      &.malignancy-box {
        color: white;
      }

      a {
        color: white !important;
        text-shadow: none !important;
      }
    }
  }
}
