.hollows {
  ul {
    margin-block: 0;

    ::marker {
      font-size: 1.2em;
    }

    &.chapter-intro-bullets {
      font-family: var(--hollows-font-mourich);
      font-size: 1.1em;
      font-weight: bold;
    }

    li {
      margin-bottom: 0;
      line-height: 1.1;
    }
  }
}
