.hollows {
  font-family: var(--hollows-font-shallot);
  font-size: 1em;

  p {
    text-indent: 1em;
    margin-block: 0.25rem;

    &.no-indent {
      text-indent: 0;
    }

    &.chapter-intro {
      font-family: var(--hollows-font-mourich);
      font-size: 1.2em;
      font-weight: bold;
      font-variant: small-caps no-common-ligatures;

      text-indent: 0;
      text-align: center;
    }
  }

  i.choice-marker {
    font-size: 3em;
    &::before {
      content: "";
      display: inline-block;
      mask-image: url("/systems/hollows/assets/art/choice-marker.svg");

      --choice-marker-height: 1em;
      width: 3.75em;
      height: var(--choice-marker-height);

      background-color: currentColor;

      margin-bottom: calc(var(--choice-marker-height) * -0.25);
    }
  }

  strong {
    &.stat,
    &.color-stat {
      color: var(--hollows-color-stat);
      font-weight: 800;
      @container inline-aside, weapon-section {
        color: var(--hollows-color-stat-alt);
      }
    }

    &.color-crit-failure {
      color: var(--hollows-color-crit-failure);
      font-weight: 800;
    }

    &.color-failure {
      color: var(--hollows-color-failure);
      font-weight: 800;
    }

    &.keyword {
      font-family: var(--hollows-font-cobblestone-aged);
    }
  }

  a {
    &.external-link,
    &[href] {
      color: var(--hollows-color-crit-success);
      text-shadow: 0 0 4px white;
    }

    &.content-link,
    &.entity-link {
      text-decoration: underline;

      background: none;
      border: none;
      padding: 0;

      i {
        display: none;
      }
    }
  }

  .small-caps {
    font-variant: small-caps;
  }

  .dropcap {
    text-indent: 0;
    &::first-letter {
      /* margin-right: 10px; */
      margin-right: 6px;
      initial-letter: 2;

      /* Firefox doesn't support initial-letter yet */
      @supports not (initial-letter: 2) {
        font-size: calc(2 * 1.9em);
        line-height: 0.7;
        float: left;
        clear: both;
      }
    }
  }
  h1 + p:not(.dropcap),
  h2 + p:not(.dropcap),
  h3 + p:not(.dropcap),
  h4 + p:not(.dropcap),
  h5 + p:not(.dropcap),
  h6 + p:not(.dropcap) {
    padding-left: 2ch;
    text-indent: -2ch;
  }
  p {
    padding-left: 2ch;
    text-indent: 0;
  }
}
