@use "generic" as *;

$-font-prefix: "#{$assetsPrefix}/fonts";

/* -------------------- Shallot -------------------- */

$-shallot-prefix: "#{$-font-prefix}/shallot";
@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Shallot";
  src: url("#{$-shallot-prefix}/Shallot-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* ---------------- Shallot Variable --------------- */

$font-shallot: "Shallot", sans-serif;

@font-face {
  font-family: "Shallot Variable";
  src: url("#{$-shallot-prefix}/ShallotVariable-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shallot Variable";
  src: url("#{$-shallot-prefix}/ShallotVariable-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

$font-shallot-variable: "Shallot Variable", "Shallot", sans-serif;

/* -------------------- Mourich -------------------- */

$-mourich-prefix: "#{$-font-prefix}/mourich";
@font-face {
  font-family: "Mourich";
  src: url("#{$-mourich-prefix}/Mourich-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mourich";
  src: url("#{$-mourich-prefix}/Mourich-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

$font-mourich: "Mourich", sans-serif;

/* ------------------ Cobblestone ------------------ */

$-cobblestone-prefix: "#{$-font-prefix}/cobblestone";
@font-face {
  font-family: "Cobblestone";
  src: url("#{$-cobblestone-prefix}/Cobblestone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cobblestone";
  src: url("#{$-cobblestone-prefix}/Cobblestone-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cobblestone Aged";
  src: url("#{$-cobblestone-prefix}/Cobblestone-Aged.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$font-cobblestone: "Cobblestone", sans-serif;
$font-cobblestone-aged: "Cobblestone Aged", "Cobblestone", sans-serif;

/* ----------------- Feliz en Vista ---------------- */

$-feliz-en-vista-prefix: "#{$-font-prefix}/feliz-en-vista";
@font-face {
  font-family: "Feliz en Vista";
  src: url("#{$-feliz-en-vista-prefix}/HVFelizenVista-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Feliz en Vista";
  src: url("#{$-feliz-en-vista-prefix}/HVFelizenVista-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Feliz en Vista Alt";
  src: url("#{$-feliz-en-vista-prefix}/HVFelizenVista-Alternative.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$font-feliz-en-vista: "Feliz en Vista", sans-serif;
$font-feliz-en-vista-alt: "Feliz en Vista Alt", "Feliz en Vista", sans-serif;
