
:root {
  /* -------------------- Shallot -------------------- */

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }


  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Shallot";
    src: url("systems/hollows/assets/fonts/shallot/Shallot-ExtraBoldItalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
  }

  /* ---------------- Shallot Variable --------------- */

  --hollows-font-shallot: "Shallot", sans-serif;

  @font-face {
    font-family: "Shallot Variable";
    src: url("systems/hollows/assets/fonts/ShallotVariable-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Shallot Variable";
    src: url("systems/hollows/assets/fonts/ShallotVariable-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  --hollows-font-shallot-variable: "Shallot Variable", "Shallot", sans-serif;

  /* -------------------- Mourich -------------------- */

  @font-face {
    font-family: "Mourich";
    src: url("systems/hollows/assets/fonts/mourich/Mourich-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Mourich";
    src: url("systems/hollows/assets/fonts/mourich/Mourich-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  --hollows-font-mourich: "Mourich", sans-serif;

  /* ------------------ Cobblestone ------------------ */

  @font-face {
    font-family: "Cobblestone";
    src: url("systems/hollows/assets/fonts/cobblestone/Cobblestone.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cobblestone";
    src: url("systems/hollows/assets/fonts/cobblestone/Cobblestone-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Cobblestone Aged";
    src: url("systems/hollows/assets/fonts/cobblestone/Cobblestone-Aged.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  --hollows-font-cobblestone: "Cobblestone", sans-serif;
  --hollows-font-cobblestone-aged: "Cobblestone Aged", "Cobblestone", sans-serif;

  /* ----------------- Feliz en Vista ---------------- */

  @font-face {
    font-family: "Feliz en Vista";
    src: url("systems/hollows/assets/fonts/feliz-en-vista/HVFelizenVista-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Feliz en Vista";
    src: url("systems/hollows/assets/fonts/feliz-en-vista/HVFelizenVista-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Feliz en Vista Alt";
    src: url("systems/hollows/assets/fonts/feliz-en-vista/HVFelizenVista-Alternative.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  --hollows-font-feliz-en-vista: "Feliz en Vista", sans-serif;
  --hollows-font-feliz-en-vista-alt: "Feliz en Vista Alt", "Feliz en Vista", sans-serif;

  /* ----------------- Miscellaneous ----------------- */

  @font-face {
    font-family: "Bell MT";
    src: url("systems/hollows/assets/fonts/misc/BellMTItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  --hollows-font-bell: "Bell MT", sans-serif;

  @font-face {
    font-family: "Go Around The Books";
    src: url("systems/hollows/assets/fonts/misc/Go-Around-The-Books.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  --hollows-font-go-around-the-books: "Go Around The Books", sans-serif;
}
