@use '../typography/asides';
@use '../typography' as *;
@use '../variables' as *;

.#{$packageCssClass}-wrapper.journal-sheet .journal-entry-content {
  @include asides;
  @include headers;
  @include lists;
  @include text;

  background-image: url('#{$assetsPrefix}/art/intro-page-bg-right.webp');
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;

  .journal-page-content {
    // Create two columns for the content to inhabit.
    // The lane on the left is the `main` column, used for the main content of the document.
    // The lane on the right is the `gutter` column. By default, `<aside>` elements go here.
    display: grid;
    grid-template-columns: 1fr 23%;
    column-gap: 6%;

    margin-left: 5%;

    > * { grid-column: 1; }

    > aside:not(#{non-gutter-aside-selectors()}) {
      grid-column: 2;
      font-size: 0.9em;
    }

    // Helper classes which can be manually applied to elements which need to go in a specific lane.
    .column {
      &-main { grid-column: 1; }
      &-gutter { grid-column: 2; }
      &-both { grid-column: 1 / -1; }
    }
  }
}
