.hollows.journal-sheet {
  .window-content {
    flex-direction: row !important;
  }

  .journal-entry-content {
    container: journal / inline-size;
    position: relative;
    isolation: isolate;
    z-index: 0;

    /* All of this to transition background images depending on size of window */
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;

      background-repeat: no-repeat;
    }

    &::before {
      z-index: -2;

      background-image: url("/systems/hollows/assets/art/intro-page-bg-right.webp");
      background-position: right top;
      background-size: cover;
    }

    &::after {
      z-index: -1;
      background-image: url("/systems/hollows/assets/art/page-bg-blank.webp");
      background-size: 100% 100%;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      @container journal (width < 550px) {
        opacity: 1;
      }
    }

    .journal-header {
      background-color: var(--hollows-color-book-intro);
      margin: 0;
      padding: 16px;

      input {
        color: white;
        background-color: rgba(29, 24, 19, 0.75);
      }
    }

    .journal-entry-pages {
      margin: 0;
      padding: 0;
    }

    .journal-page-content {
      /* Create two columns for the content to inhabit. */
      /* The lane on the left is the `main` column, used for the main content of the document. */
      /* The lane on the right is the `gutter` column. By default, `<aside>` elements go here. */
      display: grid;
      grid-template-columns: 1fr 25%;
      column-gap: 10%;
      margin-left: 8.5%;

      > * { grid-column: 1; }

      --journal-padding-right: 16px;
      > aside:not(.sidebar, .inline, .outcome-table) {
        grid-column: 2;
        font-size: 0.9em;
        padding-right: var(--journal-padding-right);
      }

      /* Helper classes which can be manually applied to elements which need to go in a specific lane. */
      .column-main {
        grid-column: 1 !important;
      }

      .column-gutter {
        grid-column: 2 !important;
        padding-right: var(--journal-padding-right);
      }

      .column-both {
        grid-column: 1 / -1 !important;
        padding-right: var(--journal-padding-right);
      }

      @container journal (width < 550px) {
        --journal-padding-right-slim: 0;
        --journal-padding-right: var(--journal-padding-right-slim);
        grid-template-columns: 1fr;
        margin-inline: 2rem;

        > *, .column-gutter, .column-both {
          grid-column: 1 !important;
          padding-right: var(--journal-padding-right-slim);
        }

      }
    }
  }
}
