@mixin mask-bottom {
  mask-image: linear-gradient(black calc(100% - 18px), transparent 100%);
}

@mixin book-intro {
  $negative-margin: 10%;

  img.chapter-header {
    grid-column: 1 / -1 !important;

    margin-left: -$negative-margin;
    margin-right: -$negative-margin;
    min-width: calc(100% + $negative-margin);
    z-index: 2;


    @include mask-bottom;
  }

  .book-intro-container {
    grid-column: 1 / -1 !important;
    background-color: #0B0600;
    margin-top: -20px;
    margin-left: -$negative-margin;

    padding: 24px;

    @include mask-bottom;

    *, h2 {
      color: white;
    }
  }
}
