.hollows.journal-sheet .journal-entry-content {
  .book-intro-container {
    --mask-fade: linear-gradient(transparent 0%, black 18px, black calc(100% - 18px), transparent 100%);
    --book-intro-margin: 12%;
    --book-intro-margin-neg: calc(var(--book-intro-margin) * -1);

    grid-column: 1 / -1 !important;

    img.chapter-header {
      min-width: calc(100% + var(--book-intro-margin) * 2);

      padding: 0;
      margin-inline: var(--book-intro-margin-neg);
    }

    .book-intro {
      width: calc(100% + var(--book-intro-margin) * 2);
      background-color: var(--hollows-color-book-intro);
      mask-image: var(--mask-fade);

      margin-top: -20px;
      margin-inline: var(--book-intro-margin-neg);
      padding: 48px;

      *, h2 {
        color: white;
      }

      h1.book-number {
        width: fit-content;

        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 0.9;

        border-block-end: 3px solid;
      }

      h2.book-heading {
        color: white;
        font-family: var(--hollows-font-mourich);
        font-size: 4rem;
        text-transform: uppercase;
      }

      h3.chapter-intro-subheading {
        font-family: var(--hollows-font-mourich);
        font-weight: bold;
        text-transform: uppercase;
        font-variant: no-common-ligatures;

        margin-block-end: 0;
      }

      blockquote.chapter-intro-poem {
        font-family: var(--hollows-font-bell);
        font-weight: bold;

        .stanza {
          margin-block: 0.5rem;

          p {
            margin-block: 0;
          }
        }
      }
    }
  }
}
